<div id="info_panel" class="info-panel-container">
    <div class="hide-panel-link">
      <%= link_to "Hide results", hide_info_panel_path, data: {"turbo-method": :post} %>
    </div>
    <% @cultivars.each do |cultivar| %>
        <div class="cultivar-result">
            <h3><%= link_to cultivar.name, info_panel_path(cultivar) , data: { turbo: 'true', turbo_action: 'advance', turbo_method: 'get' }%></h3>
        </div>
    <% end %>
</div>
