/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

#modal-background {
  z-index: 5;
  position: fixed;
  height: 100%;
  width: 100%;
  content: '';
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.5s ease;
}

#modal-background.open {
  display: block;
  opacity: 0.5;
  background-color: black;
}

.modal-dialog {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 40%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  width: 200px;
  height: 100px;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}

.modal-dialog.open {
  opacity: 1;
  transform: translateY(200%);
  pointer-events: auto;
}
