@import 'variables.scss';

.header {
  display: flex;
  background-color: transparent;
  justify-content: right;
}

.login-panel {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 1.5rem;
  z-index: map-get($zindex, base);
  background-color: white;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: $subtle-box-shadow;
}

@media (max-width: 768px) {
  .login-panel {
    top: unset;
    bottom: 3rem;
  }
}
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
