#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-panel-container {
  position: absolute;
  top: 2rem;
  z-index: 9999;
  left: 3rem;
  width: 30rem;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  padding-top: 2rem;

  @media (max-width: 768px) {
    max-height: 30vh;
    overflow-y: scroll;
    /* make scroll bar invisible */
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
