.header {
  display: flex;
  background-color: transparent;
  justify-content: right;
}

.login-panel {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 1.5rem;
  z-index: 1;
  background-color: white;
  padding: 0.5rem;
  border-radius: 15px;

  @media screen and (max-width: 768px) {
    top: unset;
    bottom: 3rem;
  }
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-panel-container {
  position: absolute;
  top: 2rem;
  z-index: 4;
  left: 3rem;
  width: 30rem;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  padding-top: 2rem;
  max-height: 30vh;
  overflow-y: scroll;
  /* make scroll bar invisible */
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media (max-width: 768px) {
    width: 15rem;
  }
}
