#modal-background {
  z-index: 5;
  position: fixed;
  content: '';
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.5s ease;
}

#modal-background.open {
  display: block;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background-color: black;
}

.modal-dialog {
  z-index: 6;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  transform: translateY(-100%);
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
}

.modal-dialog.open {
  opacity: 1;
  transform: translateY(100%);
  pointer-events: auto;
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 250px;
  }

  .modal-dialog.open {
    transform: translateY(50%);
  }
}
