@import 'variables.scss';

.search-input {
  position: absolute;
  z-index: map-get($zindex, search-bar);
  top: 1rem;
  left: 3rem;
  width: 30rem;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 15px;
  box-shadow: $subtle-box-shadow;
  border: none;
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 15rem;
  }
}

.search-input:focus {
  outline: none;
}
