@import 'z-index-map.scss';

.search-input {
  position: absolute;
  z-index: map-get($zindex, search-bar);
  top: 1rem;
  left: 3rem;
  width: 30rem;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 15px;
  box-shadow: 0 0 5px hsla(0, 0%, 76%, 1), 0 -2px 5px hsla(0, 0%, 86%, 1);
  border: none;
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 15rem;
  }
}

.search-input:focus {
  outline: none;
}
