<div id="info_panel_content" class="list-view-container">
    <div class="hide-panel-link">
      <%= link_to "Hide results", hide_info_panel_path, data: {"turbo-method": :post} %>
    </div>

    <% if @cultivars.count === 1 %> 
    <div data-controller="map">

      <div data-action="map#panToPlant" data-map-plant-param="<%= @cultivars.first.get_first_plant.to_json %>"></div>
    </div>
      <%= render partial: 'info_panel/info_panel_states/single_cultivar', locals: {current_cultivar: @cultivars.first} %>
    <% else %>
        <% @cultivars.each do |cultivar| %>
            <%= render partial: 'info_panel/info_panel_states/list/single_listing', locals: {cultivar: cultivar} %>
        <% end %>
    <% end %> 
</div>
