<div id="favorite_form">
    <% if logged_in? %>
        <% if current_user.favorites.include?(current_cultivar) %>
            <%= render 'unfavorite' %>
        <% else %>
            <%= render 'add_favorite' %>
        <% end %>
    <% else %>
        <%= link_to "Log in", login_path %>
    <% end %>
</div>
