<div class="wrapper" data-controller="map" >
    <%= render 'search/form' %>
    <div id="map-container"  data-rose-icon-path="<%= asset_path('rose-icon.svg') %>" data-heart-icon-path="<%= asset_path('heart-icon.svg') %>">
    </div>
    <%= render 'info_panel_container' %>
</div>
