<div class ="header">
    <div class = "login-panel">
        <% if logged_in? %>
            <%= link_to "Log out", logout_path, data: {"turbo-method": :delete} %>
        <% else %>
            <%= link_to "Log in", login_path %>
            <%= link_to "Sign up", signup_path %>
        <% end %>
    </div>
</div>