<div class ="header">
    <div class = "login-panel">
        <% if logged_in? %>
            <%= link_to "Log out", logout_path, data: {"turbo-method": :delete} %>
        <% else %>
            <%= link_to "Log in", login_path, data: {turbo_frame: "modal"} %> - OR - 
            <%= link_to "Sign up", signup_path, data: {turbo_frame: "modal"} %>
        <% end %>
    </div>
</div>